.container {
    background-color: #67ac44;
    height: 30px;
}
.container span, .container a {
    text-transform: uppercase;
    font-size: 10px;
}
.itemContainer--category {
    margin-top: -10px;
}
.firstLevelLink {
    margin: 10px;
}
